{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mt-4">
    {% trans "Manage organizations" %}
    <a class="btn btn-outline-primary"
       href="{% url 'organizations:create-organization' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Organization" %}
    </a>
  </h1>
  <form class="row gx-3 gy-2 align-items-center mt-3"
        action="{% url 'organizations:manager-list-organizations' %}"
        method="get"
        hx-get="{% url 'organizations:manager-list-organizations' %}"
        hx-target="#organization-list"
        hx-trigger="input changed delay:300ms, keyup, change"
        hx-indicator="#spinner"
        hx-push-url="true">
    <div class="col-auto">
      <input type="text"
             name="search"
             class="form-control"
             placeholder="{% trans 'Search organizations...' %}" />
    </div>
    <div class="col-auto" id="div_id_status">
      <select name="status" class="select form-select" id="id_status">
        <option value="all" selected>{% trans "all statuses" %}</option>
        {% for status in statuses %}<option value="{{ status.0 }}">{{ status.1 }}</option>{% endfor %}
      </select>
    </div>
    <div class="col-auto" id="div_id_group">
      <select name="group" class="select form-select" id="id_group">
        <option value="all">{% trans "all groups" %}</option>
        {% for group in groups %}<option value="{{ group.slug }}">{{ group.name }}</option>{% endfor %}
      </select>
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
  <div id="organization-list">
    {% partialdef organization-list inline %}
    <div class="table-responsive mt-5">
      <table class="table table-hover sortable" id="organizations-table">
        <thead>
          <tr>
            <th scope="col">{% trans "Created" %}</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Status" %}</th>
            <th scope="col">{% trans "Bookings" %}</th>
            <th scope="col">{% trans "Agreement" %}</th>
            <th scope="col">{% trans "Organization groups" %}</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for organization in organizations %}
            <tr id="tr-{{ organization.slug }}">{% partial organization-item %}</tr>
          {% endfor %}
        </tbody>
      </table>
      <script>
        var newTableObject = document.getElementById("organizations-table")
        sorttable.makeSortable(newTableObject);
      </script>
    </div>
  {% endpartialdef %}
</div>
{% endblock content %}
{% partialdef organization-item %}
<td sorttable_customkey="{{ organization.created|date:"YmdHi" }}">{{ organization.created|date:"d.m.Y" }}</td>
<td>
  <!-- djlint:off --><span class="d-inline-block text-truncate" style="max-width: 400px;"><!-- djlint:on -->
  <a href="{% url "organizations:show-organization" organization.slug %}">{{ organization.name }}</a>
</span>
</td>
<td>
  <span class="fs-6 badge text-bg-status-{{ organization.status }}">{{ organization.get_status_display }}</span>
</td>
<td>
  <a href="{% url "bookings:manager-list-bookings" %}?organization={{ organization.slug }}&show_past_bookings=on">{{ organization.bookings_count }}</a>
</td>
<td sorttable_customkey="{{ organization.usage_agreement_date|date:"Ymd" }}">
  {% if organization.usage_agreement %}
    <a href="{{ organization.usage_agreement.url }}">{{ organization.usage_agreement_date|default_if_none:_("without date") }}</a>
  {% else %}
    {% trans "n.a." %}
  {% endif %}
</td>
<td>{{ organization.organization_groups.all|join:", " }}</td>
<td>
  {% if organization.is_confirmable %}
    <button id="confirm-button"
            type="submit"
            class="btn btn-sm btn-outline-success"
            value="Submit"
            hx-patch="{% url 'organizations:manager-confirm-organization' organization_slug=organization.slug %}"
            hx-target="#tr-{{ organization.slug }}"
            hx-swap="innerHTML">{% trans "Confirm" %}</button>
  {% endif %}
</td>
<td>
  {% if organization.is_cancelable %}
    <button id="cancel-button"
            type="submit"
            class="btn btn-sm btn-outline-danger"
            value="Submit"
            hx-confirm="{% trans 'Are you sure you want to cancel this organization?' %}"
            hx-patch="{% url 'organizations:manager-cancel-organization' organization_slug=organization.slug %}"
            hx-target="#tr-{{ organization.slug }}"
            hx-swap="innerHTML">{% trans "Cancel" %}</button>
  {% endif %}
</td>
{% endpartialdef %}
