{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mt-4">
    {% trans "Manage organizations" %}
    <a class="btn btn-outline-primary"
       href="{% url 'organizations:create-organization' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Organization" %}
    </a>
  </h1>
  <form class="row gx-3 gy-2 align-items-center mt-3"
        action="{% url 'organizations:manager-list-organizations' %}"
        method="get"
        hx-get="{% url 'organizations:manager-list-organizations' %}"
        hx-target="#organization-list"
        hx-trigger="change"
        hx-indicator="#spinner"
        hx-push-url="true">
    <div class="col-auto" id="div_id_status">
      <select name="status" class="select form-select" id="id_status">
        <option value="all" selected>{% trans "all statuses" %}</option>
        {% for status in statuses %}<option value="{{ status.0 }}">{{ status.1 }}</option>{% endfor %}
      </select>
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="col-auto" id="div_id_group">
      <select name="group" class="select form-select" id="id_group">
        <option value="all">{% trans "all groups" %}</option>
        {% for group in groups %}<option value="{{ group.slug }}">{{ group.name }}</option>{% endfor %}
      </select>
    </div>
  </form>
  <div id="organization-list">{% include "organizations/partials/manager_list_organizations.html" %}</div>
{% endblock content %}
