{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {{ organization.name }}
{% endblock title %}
{% block content %}
  <div class="my-3">
    <nav class="breadcrumb-nav"  aria-label="breadcrumb">
      <ol class="breadcrumb rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url "dashboards:users_bookings_and_permissions" %}">{% trans "My Dashboard" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ organization.name }}</li>
      </ol>
    </nav>
  </div>
  <div class="row mt-5 mb-4">
    <h1>{{ organization.name }}</h1>
  </div>
  <div class="row">
    {% if is_admin %}
      <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="first-column">{% trans "Status" %}</td>
            <td>
              {{ organization.get_status_display }}.
              {% if organization.status == 1 %}
                {% trans "We are currently checking your organization. You can already make booking requests." %}
              {% elif organization.status == 2 %}
                {% trans "Your organization is confirmed and you are good to go." %}
              {% else %}
                {% trans "Your organization has been cancelled." %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Name" %}</td>
            <td>{{ organization.name }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Description" %}</td>
            <td>{{ organization.description }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Area of activity" %}</td>
            <td>{{ organization.get_area_of_activity_display }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Legal form" %}</td>
            <td>{{ organization.get_legal_form_display }}</td>
          </tr>
          {% if organization.other_legal_form %}
            <tr>
              <td class="first-column">{% trans "Other legal form" %}</td>
              <td>{{ organization.get_area_of_activity_display }}</td>
            </tr>
          {% endif %}
          <tr>
            <td class="first-column">{% trans "We are a charitable organization." %}</td>
            <td>{{ organization.is_charitable|yesno:_("Yes, No") }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Address" %}</td>
            <td>{{ organization.street_and_housenb }},{{ organization.zip_code }} {{ organization.city }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "E-Mail" %}</td>
            <td>{{ organization.email }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Phone number" %}</td>
            <td>{{ organization.phone }}</td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Website" %}</td>
            <td>
              <a href="https://{{ organization.website }}">{{ organization.website }}</a>
            </td>
          </tr>
          <tr>
            <td class="first-column">{% trans "Usage agreement" %}</td>
            <td>
              {% if organization.usage_agreement %}
                <a href="{{ organization.usage_agreement.url }}">{% trans "Usage agreement" %}</a>
              </td>
            {% else %}
              {% trans "Not uploaded." %}
            {% endif %}
          </tr>
          <tr>
            <td class="first-column">{% trans "Organization information is publicly visible" %}</td>
            <td>{{ organization.is_public|yesno:_("Yes, No") }}</td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    {% if organization.is_public and is_admin %}
      {% trans "This is what others can see" %}:
    {% endif %}
    {% if organization.is_public %}
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ organization.name }}</li>
                <li class="list-group-item">
                  <svg class="fs-4 me-1" width="1em" height="1em">
                    <use href="#bi-file-earmark-text" />
                  </svg>
                  <em>{{ organization.description }}</em>
                </li>
                <li class="list-group-item">
                  <svg class="fs-4 me-1" width="1em" height="1em">
                    <use href="#bi-geo-alt" />
                  </svg>
                  {{ organization.city }}
                </li>
                {% if organization.website %}
                  <li class="list-group-item">
                    <svg class="fs-4 me-1" width="1em" height="1em">
                      <use href="#bi-globe2" />
                    </svg>
                    <a href="https://{{ organization.website }}">{{ organization.website }}</a>
                  </li>
                {% endif %}
                <li class="list-group-item">
                  <svg class="fs-4 me-1" width="1em" height="1em">
                    <use href="#bi-clipboard-heart" />
                  </svg>
                  {{ organization.get_area_of_activity_display }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="col-md-5 mt-3 row">
    <div>
      <div>
        {% if is_admin %}
          <a class="btn btn-outline-warning"
             href="{% url 'organizations:update-organization' organization=organization.slug %}">{% trans "Edit Organization" %}</a>
          <a class="btn btn-outline-danger"
             href="{% url 'organizations:delete-organization' organization=organization.slug %}"
             onclick="return confirm('{% trans "Are you sure you want to delete the organization?" %}')">{% trans "Delete Organization" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-2">
    <h2>{% trans "Persons authorised to make bookings" %}</h2>
  </div>
  {% if is_admin %}
    <div class="mt-3">
      {% trans "As administrator for this organization you can give other registered users the permission to book for this organization." %}
      <ul>
        <li>{% trans "'Bookers' can book and cancel bookings." %}</li>
        <li>{% trans "'Administrators' can additionally add and remove user for this organization." %}</li>
      </ul>
      <form class="row align-items-center mb-5"
            method="post"
            action="{% url 'organizations:add-user' organization=organization.slug %}">
        {% csrf_token %}
        <div class="col-auto">
          <input type="email"
                 class="form-control"
                 placeholder="E-Mail"
                 aria-label="E-Mail"
                 id="email"
                 name="email"
                 required />
        </div>
        <div class="col-auto">
          <select class="form-select" id="role" name="role" aria-label="Role" required>
            <option value="booker">{% trans "Booker" %}</option>
            <option value="admin">{% trans "Admin" %}</option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">{% trans "Add User" %}</button>
        </div>
      </form>
    {% endif %}
  </div>
  {% if not permitted_users %}
    <div>{% trans "Only visible for other authorised persons." %}</div>
    <div id="{{ organization.slug }}-request-bookingpermission">
      <button class="btn btn-outline-success"
              hx-post="{% url 'organizations:request-bookingpermission' organization=organization.slug %}"
              hx-target="#{{ organization.slug }}-request-bookingpermission">
        {% trans "Request booking permission" %}
      </button>
    </div>
  {% else %}
    {% for user in permitted_users %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">
                {{ user.first_name }} {{ user.last_name }}
                {% if user == request.user %}
                  <em class="h6">- {% trans "that's you" %}!</em>
                {% endif %}
                {% if user.permission_role == 1 %}<span class="badge rounded-pill text-bg-primary">Administrator</span>{% endif %}
              </h5>
              <p class="card-text">
                {% trans "Booking permission" %}:
                {% if user.permission_status == 2 %}
                  <span class="badge rounded-pill text-bg-success">{% trans "Approved" %}</span>
                {% endif %}
                {% if user.permission_status == 1 %}
                  <span class="badge rounded-pill text-bg-warning">{% trans "Pending" %}</span>
                {% endif %}
              </p>
              <p class="card-text">
                <svg class="fs-4 me-1" width="1em" height="1em">
                  <use href="#bi-envelope-at" />
                </svg>
                {{ user.email }}
              </p>
            </div>
          </div>
          <div class="col-md-3 text-end">
            <div class="card-body">
              <div class="d-grid gap-2">
                {% if is_admin and user.permission_status == 1 %}
                  <div id="{{ user.slug }}-confirm-bookingpermission">
                    <button class="btn btn-outline-primary"
                            hx-post="{% url 'organizations:confirm-bookingpermission' organization=organization.slug user=user.slug %}"
                            hx-target="#{{ user.slug }}-confirm-bookingpermission">
                      {% trans "Confirm booking permission" %}
                    </button>
                  </div>
                {% endif %}
                {% if is_admin and user.permission_status == 2 and user != request.user %}
                  <div id="{{ user.slug }}-cancel-bookingpermission">
                    <button class="btn btn-outline-danger"
                            hx-post="{% url 'organizations:cancel-bookingpermission' organization=organization.slug user=user.slug %}"
                            hx-target="#{{ user.slug }}-cancel-bookingpermission">
                      {% trans "Cancel booking permission" %}
                    </button>
                  </div>
                {% endif %}
                {% if is_admin and user.permission_role == 2 %}
                  <div id="{{ user.slug }}-promote-to-admin">
                    <button class="btn btn-outline-success"
                            hx-post="{% url 'organizations:promote-to-admin' organization=organization.slug user=user.slug %}"
                            hx-target="#{{ user.slug }}-promote-to-admin">{% trans "Promote to admin" %}</button>
                  </div>
                {% endif %}
                {% if is_admin and user.permission_role == 1 and user != request.user %}
                  <div id="{{ user.slug }}-demote-to-booker">
                    <button class="btn btn-outline-warning"
                            hx-post="{% url 'organizations:demote-to-booker' organization=organization.slug user=user.slug %}"
                            hx-target="#{{ user.slug }}-demote-to-booker">{% trans "Demote to booker" %}</button>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock content %}
