{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Organizations" %}
{% endblock title %}
{% block content %}
  <div class="row mt-5 mb-4">
    <div>
      <h1>
        {% trans "Organizations" %}
        <a class="btn btn-outline-primary"
           href="{% url 'organizations:create-organization' %}"
           role="button">
          <svg width="1em" height="1em">
            <use href="#bi-plus-lg" />
          </svg>
          {% trans "New Organization" %}
        </a>
      </h1>
    </div>
    <div class="row">
      <p>
        {% trans "Only registered organizations can book rooms. If your organization is not registered yet, you can add it here." %}
      </p>
    </div>
  </div>
  <div class="row">
    <div id="div_persons_count" class=" col-3">
      <input type="text"
             name="organization_name"
             class="form-control"
             placeholder="{% trans 'Search organizations' %}"
             id="organization_name"
             hx-get="{% url 'organizations:list-organizations' %}"
             hx-target="#list-organizations"
             hx-trigger="keyup"
             hx-indicator="#spinner" />
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div id="list-organizations" class="mt-4">{% include "organizations/partials/list_organizations.html" %}</div>
{% endblock content %}
