{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Organizations" %}
{% endblock title %}
{% block content %}
  <div class="row mt-5 mb-4">
    <div>
      <h1>
        {% trans "Organizations" %}
        <button type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#createOrganizationModal">
          <svg width="1em" height="1em">
            <use href="#bi-plus-lg" />
          </svg>
          {% trans "Add new organization" %}
        </button>
      </h1>
    </div>
    <div class="row">
      <p>
        {% trans "Only organisations can book rooms. If your organization does not exists yet, please add it as new organization. If it exists already, you can request the membership to book rooms in the name of that organization." %}
      </p>
    </div>
  </div>
  <div class="row">
    <div id="div_persons_count" class="form-floating mb-3 col-3">
      <input type="text"
             name="organization_name"
             class="form-control textinput"
             placeholder="{% trans 'Search organizations' %}"
             id="organization_name"
             hx-get="{% url 'organizations:list-organizations' %}"
             hx-target="#list-organizations"
             hx-trigger="keyup"
             hx-indicator="#spinner" />
      <label for="organization_name">{% trans "Search organizations" %}</label>
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div id="list-organizations" class="mt-4">{% include "organizations/partials/list_organizations.html" %}</div>
  <div class="modal fade"
       id="createOrganizationModal"
       tabindex="-1"
       aria-labelledby="createOrganizationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createOrganizationModalLabel">{% trans "Add new organization" %}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'organizations:list-organizations' %}">
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">{% trans "Add organization" %}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
