{% load i18n %}

<div id="planner-table" class="row g-2 d-flex">
  <button type="button"
          id="prevDay"
          class="col-auto btn btn-secondary"
          hx-get="{% url 'rooms:planner' %}?date={{ dates.previous_day|date:'Y-m-d' }}"
          hx-target="#planner-table"
          hx-indicator="#spinner"
          hx-push-url="true"
          hx-swap="outerHTML">
    <svg class="fs-4 me-1" width="1em" height="1em">
      <use href="#bi-chevron-left" />
    </svg>
  </button>
  <div id="div_date" class="col-auto">
    <input type="date"
           name="date"
           class="form-control textinput"
           placeholder="{% trans 'Date' %}"
           id="date"
           value="{{ dates.shown_date|date:'Y-m-d' }}"
           hx-get="{% url 'rooms:planner' %}"
           hx-target="#planner-table"
           hx-swap="outerHTML"
           hx-indicator="#spinner"
           hx-push-url="true" />
  </div>
  <button type="button"
          id="nextDay"
          class="col-auto btn btn-secondary"
          hx-get="{% url 'rooms:planner' %}?date={{ dates.next_day|date:'Y-m-d' }}"
          hx-target="#planner-table"
          hx-swap="outerHTML"
          hx-indicator="#spinner"
          hx-push-url="true">
    <svg class="fs-4 me-1" width="1em" height="1em">
      <use href="#bi-chevron-right" />
    </svg>
  </button>
  <div id="spinner"
       class="spinner-border col-auto htmx-indicator"
       role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-sm-little-padding table-bordered small table-crosshaired">
      <thead>
        <tr>
          <th>Time</th>
          {% for room in rooms %}
            <th scope="col">
              <a href="{% url 'rooms:show-room' room_slug=room.slug %}">{{ room.name }}</a>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <!-- start showing timeslots from 6 AM on (6h * 2 slots/h = 12) -->
        {% for slot in timeslots %}
          {% if slot.timeslot >= 12 %}
            <tr>
              <td>{{ slot.time|date:"H:i" }}</td>
              {% for item in slot.slot %}
                <td {% if item.booked %}class="table-primary"{% endif %}>
                  {% if not item.booked %}
                    <a href="{% url 'bookings:create-booking' %}{{ item.booking_link }}"
                       class="cover-link">&nbsp</a>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
