{% load i18n %}

<div class="table-responsive mt-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{% trans "Created" %}</th>
        <th scope="col">{% trans "Start - End" %}</th>
        <th scope="col">{% trans "Timespan" %}</th>
        <th scope="col">{% trans "Resource" %}</th>
        <th scope="col">{% trans "Title" %}</th>
        <th scope="col">{% trans "Organization" %}</th>
        <th scope="col">{% trans "Status" %}</th>
        <th scope="col">{% trans "Bookings" %}</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for rrule in rrules %}
        <tr id="tr-{{ rrule.uuid }}">{% include "bookings/partials/manager_rrule_item.html" %}</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
