{% load i18n %}

<div class="card mb-3 mt-4" id="booking-list-item-{{ booking.slug }}">
  <div class="row g-0">
    <div class="col col-md-2 card-body text-center">
      <p class="h6">{{ booking.timespan.lower|date:"l" }}</p>
      <p class="h4">{{ booking.timespan.lower|date:"d" }}. {{ booking.timespan.lower|date:"F" }}</p>
      <p class="h6">{{ booking.timespan.lower|date:"H:i" }} - {{ booking.timespan.upper|date:"H:i" }}</p>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'rooms:show-room' booking.room.slug %}">{{ booking.room }}</a> <span id="status-{{ booking.slug }}"
       class="fs-6 badge text-bg-status-{{ booking.status }}">{{ booking.get_status_display }}</span>
        </h5>
        <p class="card-text">
          <svg width="1em" height="1em">
            <use href="#bi-card-heading" />
          </svg>
          <em>{{ booking.title }}</em>
          <br />
          <svg width="1em" height="1em">
            <use href="#bi-person-fill" />
          </svg>
          {% trans "booked by:" %} <em>{{ booking.user }}</em> {% trans "for" %} <em><a href="{% url 'organizations:show-organization' booking.organization.slug %}">{{ booking.organization.name }}</a></em>
          <br />
          {% if booking.compensation %}
            <svg width="1em" height="1em">
              <use href="#bi-currency-euro" />
            </svg>
            {{ booking.compensation.name }}
            {% if booking.total_amount %}
              {% if booking.status == 3 %}
                <s>({% trans "Total amount" %}: {{ booking.total_amount }}€)</s>
              {% else %}
                ({% trans "Total amount" %}: {{ booking.total_amount }}€)
              {% endif %}
            {% endif %}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <div class="d-grid gap-2">
          {% if request.resolver_match.view_name != 'bookings:show-booking' %}
            <a class="btn btn-outline-primary"
               href="{% url 'bookings:show-booking' booking=booking.slug %}">{% trans "View Details" %}</a>
          {% endif %}
          {% if booking.is_cancelable %}
            <button id="cancel-button"
                    type="submit"
                    class="btn btn-outline-danger mb-3"
                    value="Submit"
                    hx-confirm="{% trans 'Are you sure you want to cancel this booking?' %}"
                    hx-patch="{% url 'bookings:cancel-booking' slug=booking.slug %}"
                    hx-target="#booking-list-item-{{ booking.slug }}"
                    hx-swap="outerHTML">{% trans "Cancel Booking" %}</button>
          {% endif %}
        </div>
      </div>
    </div>
    {% if booking.recurrence_rule %}
      <div class="card-footer">
        <svg width="1em" height="1em">
          <use href="#bi-arrow-repeat" />
        </svg>
        {{ booking.recurrence_rule.get_human_readable_rule }} <a href="{% url 'bookings:show-recurrence' rrule=booking.recurrence_rule.uuid %}"> ({% trans "show all occurrences" %})</a>
      </div>
    {% endif %}
  </div>
</div>
