{% load i18n %}

{% for booking in bookings %}
  <div class="card mb-3 mt-4">
    <div class="row g-0">
      <div class="col col-md-2 card-body text-center">
        <p class="h6">{{ booking.timespan.lower|date:"l" }}</p>
        <p class="h4">{{ booking.timespan.lower|date:"d" }}. {{ booking.timespan.lower|date:"F" }}</p>
        <p class="h6">{{ booking.timespan.lower|date:"H:i" }} - {{ booking.timespan.upper|date:"H:i" }}</p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ booking.room }}</h5>
          <p class="card-text">{{ booking.timespan.lower|date:"d.m.Y - H:i" }} - {{ booking.timespan.upper }}</p>
          <p class="card-text">
            {{ booking.title }} | Status: {{ booking.get_status_display }}
            | {% trans "Booked by:" %} {{ booking.user }}
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <ul>
            <li>
              <a href="{% url 'bookings:detail' slug=booking.slug %}">{% trans "View Details" %}</a>
            </li>
            <li>
              <a href="#">{% trans "Cancel Booking" %}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
