{% load i18n %}

<tr id="booking-{{ booking.id }}">
  <td>{{ booking.timespan.lower|date:"l" }}</td>
  <td>
    <a href="{% url "bookings:show-booking" booking.slug %}">{{ booking.timespan.lower|date:"d.m.Y" }}</a>
  </td>
  <td>
    <span class="fs-6 badge text-bg-status-{{ booking.status }}">{{ booking.get_status_display }}</span>
  </td>
  <td>
    {% if booking.is_cancelable %}
      <button id="cancel-button"
              type="submit"
              class="btn btn-outline-danger"
              value="Submit"
              hx-confirm="{% trans 'Are you sure you want to cancel this single booking?' %}"
              hx-patch="{% url 'bookings:cancel-occurrence' slug=booking.slug %}"
              hx-target="#booking-{{ booking.id }}"
              hx-swap="outerHTML">{% trans "Cancel Booking" %}</button>
    {% endif %}
  </td>
</tr>
