{% load i18n %}

{% for resource in resources %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% with resource.resourceimages_of_resource.all.0.image.url as img_url %}
          {% if img_url %}
            <img src="{{ img_url }}"
                 class="img-fluid rounded-start"
                 alt="{{ resource.name }}" />
          {% else %}
            <img src="..." class="img-fluid rounded-start" alt="..." />
          {% endif %}
        {% endwith %}
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'resources:show-resource' resource_slug=resource.slug %}">{{ resource.name }}</a>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-people" />
              </svg>
              Max. {{ resource.max_persons }} {% trans "Persons" %} ({{ resource.square_meters|default_if_none:"" }}m²)
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-calendar2-check" />
              </svg>
              {{ resource.bookable_times }}
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-geo-alt" />
              </svg>
              {% if resource.location %}{{ resource.location.address }}{% endif %}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">&nbsp</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-piggy-bank" />
              </svg>
              {% for compensation in resource.compensations_of_resource.all %}
                {% if compensation.is_active %}
                  {% if compensation.hourly_rate %}
                    {{ compensation.hourly_rate }}€/h
                  {% else %}
                    {{ compensation.name }}
                  {% endif %}
                  {% if not forloop.last %}//{% endif %}
                {% endif %}
              {% endfor %}
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-easel2" />
              </svg>
              {{ resource.included_equipment }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  {% trans "No resource matches your filter." %}
{% endfor %}
