{% load i18n %}

<div class="table-responsive">
  <!-- Iterate through each weekday group -->
  {% for day, day_data in planner_data.items %}
    <table class="table table-sm table-sm-little-padding mb-0 table-bordered border-secondary small">
      <thead>
        <tr class="table-light">
          <th>{{ day|date:"l, d.m.y" }}</th>
          {% for timeslot in day_data.resources.0.timeslots %}
            {% if not forloop.counter|divisibleby:2 %}<th colspan="2">{{ timeslot.time|date:"H:i" }}</th>{% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <!-- Iterate through resources -->
        {% for resource in day_data.resources %}
          <tr class="w-25">
            <td class="table-light w-25 text-truncate">
              {{ resource.name }}
              <a href="{% url 'resources:show-resource' resource_slug=resource.slug %}">
                <svg class="fs-4 me-1" width="1em" height="1em">
                  <use href="#bi-link" />
                </svg>
              </a>
            </td>
            {% for timeslot in resource.timeslots %}
              {% if timeslot.status == "booked" %}
                <td class="table-booked" title="{{ timeslot.organization }}">
                  {% if timeslot.link %}
                    <a href="{{ timeslot.link }}" class="cover-link">&nbsp</a>
                  {% else %}
                    &nbsp
                  {% endif %}
                </td>
              {% elif timeslot.status == "booked by me" %}
                <td class="table-booked-by-me"
                    title="{{ timeslot.organization }} - {{ timeslot.title }}">
                  <a href="{{ timeslot.link }}" class="cover-link">&nbsp</a>
                </td>
              {% elif timeslot.status == "restricted" %}
                <td class="table-restricted" title="{{ timeslot.restriction_message }}">
                  <a href="{% url 'bookings:create-booking' %}{{ timeslot.link }}"
                     class="cover-link">&nbsp
                    <span class="visually-hidden">Restricted booking on {{ timeslot.time|date:"d.m.y H:i" }}</span></a>
                </td>
              {% elif timeslot.status == "bookable" %}
                <td class="table-light">
                  <a href="{% url 'bookings:create-booking' %}{{ timeslot.link }}"
                     class="cover-link">&nbsp
                    <span class="visually-hidden">Book resource on {{ timeslot.time|date:"d.m.y H:i" }}</span></a>
                </td>
              {% elif timeslot.status == "past" %}
                <td class="table-past">
                  &nbsp
                  <span class="visually-hidden">past</span>
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>
