{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <div class="my-3">
    <nav class="breadcrumb-nav"  aria-label="breadcrumb">
      <ol class="breadcrumb rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url "dashboards:users_bookings_and_permissions" %}">{% trans "My Dashboard" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "My recurring bookings" %}</li>
      </ol>
    </nav>
  </div>
  <h1 class="mt-4">
    {% trans "My recurring bookings" %}
    <a class="btn btn-outline-primary"
       href="{% url 'bookings:create-booking' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Booking" %}
    </a>
  </h1>
  <div id="recurrences-list">
    {% for booking_series in booking_series_list %}
      <div class="card mb-3 mt-4">
        <div class="row g-0">
          <div class="col col-md-2 card-body text-center">
            <p class="h5">
              {{ booking_series.first_booking_date }}
              <br />
              -
              <br />
              {{ booking_series.last_booking_date }}
            </p>
            <p class="h6">{{ booking_series.start_time|date:"H:i" }} - {{ booking_series.end_time|date:"H:i" }}</p>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'bookings:show-booking-series' booking_series.slug %}">{{ booking_series.title }}</a>
              </h5>
              <p class="card-text">
                <svg width="1em" height="1em">
                  <use href="#bi-door-closed" />
                </svg>
                <em>{{ booking_series.resource }}</em>
                <br />
                <svg width="1em" height="1em">
                  <use href="#bi-person-fill" />
                </svg>
                <em>{{ booking_series.user }}</em> {% trans "for" %}
                <em>{{ booking_series.organization }}</em>
                <br />
                {% trans "Occurrences" %}: {{ booking_series.number_of_occurrences }}
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <div class="d-grid gap-2">
                <a class="btn btn-outline-primary"
                   href="{% url 'bookings:show-booking-series' booking_series.slug %}">{% trans "View Details" %}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <svg width="1em" height="1em">
            <use href="#bi-arrow-repeat" />
          </svg>
          {{ booking_series.get_human_readable_rule }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
