{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mt-4">
    {% trans "Manage bookings" %}
    <a class="btn btn-outline-primary"
       href="{% url 'bookings:create-booking' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Booking" %}
    </a>
  </h1>
  <form class="row gx-3 gy-2 align-items-center mt-3"
        action="{% url 'bookings:manager-list-bookings' %}"
        method="get"
        hx-get="{% url 'bookings:manager-list-bookings' %}"
        hx-target="#booking-list"
        hx-trigger="change"
        hx-indicator="#spinner">
    <div id="div_id_organization" class="col-auto">
      <select name="organization" class="form-select" id="id_organization">
        <option selected value="all">{% trans "all organizations" %}</option>
        {% for organization in organizations %}
          <option value="{{ organization.slug }}">{{ organization }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="div_id_resource" class="col-auto">
      <select name="resource" class="form-select" id="id_resource">
        <option selected value="all">{% trans "all resources" %}</option>
        {% for resource in resources %}<option value="{{ resource.slug }}">{{ resource }}</option>{% endfor %}
      </select>
    </div>
    <div class="col-auto" id="div_id_status">
      <select name="status" class="select form-select" id="id_status">
        <option value="all">{% trans "all statuses" %}</option>
        {% for status in statuses %}
          <option value="{{ status.0 }}" {% if status.0 == 1 %}selected{% endif %}>{{ status.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto">
      <input type="date" name="date" class="form-control textinput" id="id_date" />
    </div>
    <div class="col-auto form-check">
      <input type="checkbox"
             name="show_past_bookings"
             class="form-check-input"
             id="id_show_past_bookings" />
      <label for="id_show_past_bookings" class="form-check-label">{% trans "show past bookings" %}</label>
    </div>
    <div class="col-auto form-check">
      <input type="checkbox"
             name="show_recurring_bookings"
             class="form-check-input"
             id="id_hide_recurring_bookings" />
      <label for="id_show_recurring_bookings" class="form-check-label">
        {% trans "show" %} <a href="{% url 'bookings:manager-list-recurrences' %}">{% trans "recurring bookings" %}</a>
      </label>
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
  <div id="booking-list">{% include "bookings/partials/manager_list_bookings.html" %}</div>
{% endblock content %}
