{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mt-4">
    {% trans "Manage booking series" %}
    <a class="btn btn-outline-primary"
       href="{% url 'bookings:create-booking' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Booking" %}
    </a>
  </h1>
  <form class="row gx-3 gy-2 align-items-center mt-3"
        action="{% url 'bookings:manager-list-booking_series' %}"
        method="get"
        hx-get="{% url 'bookings:manager-list-booking_series' %}"
        hx-target="#booking-list"
        hx-trigger="change"
        hx-indicator="#spinner">
    <div id="div_id_organization" class="col-3">
      <select name="organization" class="form-select" id="id_organization">
        <option selected value="all">{% trans "all organizations" %}</option>
        {% for organization in organizations %}
          <option value="{{ organization.slug }}">{{ organization }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto" id="div_id_status">
      <select name="status" class="select form-select" id="id_status">
        <option value="all">{% trans "all statuses" %}</option>
        {% for status in statuses %}
          <option {% if status.0 == 1 %}selected{% endif %} value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto form-check">
      <input type="checkbox"
             name="show_past_booking_series"
             class="form-check-input"
             id="id_show_past_booking_series" />
      <label for="id_show_past_booking_series" class="form-check-label">{% trans "show past booking series" %}</label>
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
  <div id="booking-list">
    {% partialdef manager-list-booking-series inline %}
    <div class="table-responsive mt-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{% trans "Created" %}</th>
            <th scope="col">{% trans "Start - End" %}</th>
            <th scope="col">{% trans "Timespan" %}</th>
            <th scope="col">{% trans "Resource" %}</th>
            <th scope="col">{% trans "Title" %}</th>
            <th scope="col">{% trans "Organization" %}</th>
            <th scope="col">{% trans "Status" %}</th>
            <th scope="col">{% trans "Bookings" %}</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for booking_series in booking_series_list %}
            <tr id="tr-{{ booking_series.uuid }}">
              {% partialdef manager-booking-series-item inline %}
              <td>{{ booking_series.created|date:"d.m.Y H:i" }}</td>
              <td>{{ booking_series.first_booking_date|date:"d.m.Y" }} - {{ booking_series.last_booking_date|date:"d.m.Y" }}</td>
              <td>
                {{ booking_series.get_first_booking.timespan.lower|date:"H:i" }}
                - {{ booking_series.get_first_booking.timespan.upper|date:"H:i" }}
              </td>
              <td>{{ booking_series.resource }}</td>
              <td>
                <a href="{% url "bookings:show-booking-series" booking_series.slug %}">{{ booking_series.title }}</a>
              </td>
              <td>{{ booking_series.organization }}</td>
              <td>
                <span class="fs-6 badge text-bg-status-{{ booking_series.status }}">{{ booking_series.get_status_display }}</span>
              </td>
              <td class="text-nowrap">
                <span class="fs-6 badge text-bg-status-1">{{ booking_series.get_pending|length }}</span>
                <span class="fs-6 badge text-bg-status-2">{{ booking_series.get_confirmed|length }}</span>
                <span class="fs-6 badge text-bg-status-3">{{ booking_series.get_cancelled|length }}</span>
              </td>
              <td>
                {% if booking_series.status == 1 %}
                  <button id="confirm-button"
                          type="submit"
                          class="btn btn-sm btn-outline-success"
                          value="Submit"
                          hx-confirm="{% trans 'Are you sure you want to confirm all bookings?' %}"
                          hx-patch="{% url 'bookings:manager-confirm-booking-series' booking_series_uuid=booking_series.uuid %}"
                          hx-swap="innerHTML"
                          hx-target="#tr-{{ booking_series.uuid }}">{% trans "Confirm" %}</button>
                {% endif %}
              </td>
              <td>
                {% if booking_series.status == 1 or booking_series.status == 2 %}
                  <button id="cancel-button"
                          type="submit"
                          class="btn btn-sm btn-outline-danger"
                          value="Submit"
                          hx-confirm="{% trans 'Are you sure you want to cancel all bookings?' %}"
                          hx-patch="{% url 'bookings:manager-cancel-booking-series' booking_series_uuid=booking_series.uuid %}"
                          hx-swap="innerHTML"
                          hx-target="#tr-{{ booking_series.uuid }}">{% trans "Cancel" %}</button>
                {% endif %}
              </td>
            {% endpartialdef %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endpartialdef %}
</div>
{% endblock content %}
