{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <h1 class="mt-4">{{ booking_series.title }}</h1>
  <div class="card mb-3 mt-4">
    <div class="row g-0">
      <div class="col col-md-2 card-body text-center">
        <p class="h5">
          {{ booking_series.first_booking_date|date:"d.m.Y" }}
          <br />
          -
          <br />
          {% if booking_series.last_booking_date %}
            {{ booking_series.last_booking_date|date:"d.m.Y" }}
          {% else %}
            {% trans "(without end)" %}
          {% endif %}
        </p>
        <p class="h6">
          {{ booking_series.start_time|time:"H:i" }}
          - {{ booking_series.end_time|time:"H:i" }}
        </p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ booking_series.title }}</h5>
          <p class="card-text">
            <svg width="1em" height="1em">
              <use href="#bi-door-closed" />
            </svg>
            <em>{{ booking_series.resource }}</em>
            <br />
            <svg width="1em" height="1em">
              <use href="#bi-person-fill" />
            </svg>
            {% trans "booked by:" %}   {{ booking_series.user.first_name }} {{ booking_series.user.last_name }} ({{ booking_series.user.email }}) {% trans "for" %} {{ booking_series.organization.name }}
            <br />
            {% trans "bookings" %}: {{ bookings|length }}
            <br />
            {% if booking_series.invoice_address %}
              {% trans "Differing billing address" %}: {{ booking_series.invoice_address }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
          <div class="d-grid gap-2"></div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <svg width="1em" height="1em">
        <use href="#bi-arrow-repeat" />
      </svg>
      {{ booking_series.get_human_readable_rule }}
      <br />
    </div>
  </div>
  <div class="mt-4">
    <h5>{% trans "These bookings are part of the recurrence" %}:</h5>
    <ul class="list-group">
      {% for booking in bookings %}
        <li class="list-group-item">
          {% if booking.status == 4 %}
            <s>{{ booking.timespan.0|date:"D, d.m.Y" }}</s>
            <span class="text-danger">{% trans "Resource not free at this date." %}</span>
          {% else %}
            {{ booking.timespan.0|date:"D, d.m.Y" }}
            {% if booking.compensation %}
              -
              {{ booking.compensation.name }}
              {% if booking.total_amount %}
                ({% trans "Amount" %}: {{ booking.total_amount|floatformat:2 }}€)
              {% endif %}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="d-flex mt-3">
    <button onclick="history.back();" class="btn btn-secondary me-2">{% trans "Back" %}</button>
    {% if bookable %}
      <form method="post">
        {% csrf_token %}
        <input type="submit"
               name="submit"
               value="{% trans 'Book' %}"
               class="btn btn-primary"
               id="submit-id-submit" />
      </form>
    {% endif %}
  </div>
{% endblock content %}
