{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Dashboard" %}
{% endblock title %}
{% block content %}
  <div class="row mt-5">
    <h1>{% trans "Hi" %}, {{ user.first_name }}!</h1>
  </div>
  <div class="row mt-5">
    <h2>
      {% trans "Your upcoming bookings" %}
      <a class="btn btn-outline-primary"
         href="{% url 'bookings:create-booking' %}"
         role="button">
        <svg width="1em" height="1em">
          <use href="#bi-plus-lg" />
        </svg>
        {% trans "New Booking" %}
      </a>
    </h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{% trans "Date" %}</th>
            <th scope="col">{% trans "Timespan" %}</th>
            <th scope="col">{% trans "Room" %}</th>
            <th scope="col">{% trans "Title" %}</th>
            <th scope="col">{% trans "Organization" %}</th>
            <th scope="col">{% trans "Status" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
            <tr>
              <td>{{ booking.timespan.lower|date:"l, d.m.Y" }}</td>
              <td>{{ booking.timespan.lower|date:"H:i" }} - {{ booking.timespan.upper|date:"H:i" }}</td>
              <td>{{ booking.room }}</td>
              <td>
                <a href="{% url "bookings:show-booking" booking.slug %}">{{ booking.title }}</a>
              </td>
              <td>{{ booking.organization }}</td>
              <td>
                <span class="fs-6 badge text-bg-status-{{ booking.status }}">{{ booking.get_status_display }}</span>
              </td>
            </tr>
          {% empty %}
            <em>{% trans "No upcoming bookings" %}</em>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="{% url "bookings:list-bookings" %}">{% trans "Show all bookings" %}</a>
  </div>
  <div class="row mt-5 col-md-6">
    <h2>
      {% trans "Your organizations" %}
      <a class="btn btn-outline-primary"
         href="{% url 'organizations:create-organization' %}"
         role="button">
        <svg width="1em" height="1em">
          <use href="#bi-plus-lg" />
        </svg>
        {% trans "New Organization" %}
      </a>
    </h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Booking permission status" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for bp in booking_permissions %}
            <tr>
              <td>
                <a href="{% url "organizations:show-organization" bp.organization.slug %}">{{ bp.organization }}</a>
              </td>
              <td>
                <span class="fs-6 badge text-bg-status-{{ bp.status }}">{{ bp.get_status_display }}</span>
              </td>
            </tr>
          {% empty %}
            <em>{% trans "No organizations yet. Go and add yours!" %}</em>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
