{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Re-Sharing | Home" %}
{% endblock title %}
{% block content_title %}
{% endblock content_title %}
{% block content %}
  <div class="col-md-10 mt-5">
    <h1 class="display-4">Hi!</h1>
    <p class="lead">{% trans "This is the new place where you can book resources for the 'Haus des Engagements'." %}</p>
    <hr class="my-4" />
    <p>{% trans "This is how you book a resource:" %}</p>
    <ol>
      <li>{% trans "Look for a free resource." %}</li>
      <li>{% trans "Create an account." %}</li>
      <li>{% trans "Create an organization you want to book the resource for." %}</li>
      <li>{% trans "Make your booking requests." %}</li>
      <li>
        {% trans "Await our confirmation with all the necessary stuff (like doorcodes and instructions) and your good to go!" %}
      </li>
    </ol>
  </div>
{% endblock content %}
