{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "HdE | Rooms" %}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{% trans "Rooms" %}</h1>
  <div class="col-auto">
    <svg class="fs-4 me-1" width="1em" height="1em">
      <use href="#bi-calendar4-week" />
    </svg>
    {% url 'resources:planner' as planner_url %}
    {% blocktrans %}You can also find free slots in the <a href="{{ planner_url }}">planner overview</a>.{% endblocktrans %}
  </div>
  <form class="row g-2 mt-2"
        hx-get="{% url 'resources:list-resources' %}"
        hx-target="#resource-list"
        hx-trigger="input change"
        hx-push-url="true"
        hx-indicator="#spinner">
    <div id="div_start_datetime" class="form-floating mb-3 col-auto">
      <input type="datetime-local"
             name="start_datetime"
             class="form-control textinput"
             placeholder="{% trans 'Find a free resource' %}"
             id="start_datetime" />
      <label for="start_datetime">{% trans "Find a free resource" %}</label>
    </div>
    <div id="div_persons_count" class="form-floating mb-3 col-auto">
      <input type="number"
             name="persons_count"
             class="form-control textinput"
             placeholder="{% trans 'Number of persons' %}"
             id="persons_count" />
      <label for="persons_count">{% trans "Number of persons" %}</label>
    </div>
    {% if locations.count > 1 %}
      <div id="div_location" class="form-floating mb-3 col-auto">
        <select name="location" class="form-select" id="location">
          <option value="">{% trans "All locations" %}</option>
          {% for location in locations %}
            <option value="{{ location.slug }}"
                    {% if request.GET.location == location.slug %}selected{% endif %}>
              {{ location.name }} ({{ location.address }})
            </option>
          {% endfor %}
        </select>
        <label for="location">{% trans "Location" %}</label>
      </div>
    {% endif %}
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
  <div id="resource-list">{% include "resources/partials/list_filter_resources.html" %}</div>
{% endblock content %}
