{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Find a free room" %}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{% trans "Find a free room" %}</h1>
  <div class="mt-3 mb-4">
    <p>
      {% trans "In this view, you can see the free times for all resources. Click on a free (green) slot to go directly to the booking page." %}
    </p>
  </div>
  <div class="mt-4 mb-3">
    <form id="resources"
          hx-get="{% url 'resources:planner' %}"
          hx-target="#planner-table"
          hx-indicator="#spinner"
          hx-push-url="true"
          hx-swap="outerHTML"
          hx-trigger="change"
          hx-sync="closest form:replace">
      <div class="row g-4">
        {% for access, resources in grouped_resources.items %}
          <div class="col-auto ms-2">
            {{ access }}:
            {% for resource in resources %}
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="resource-{{ resource.slug }}"
                       name="resources"
                       value="{{ resource.slug }}"
                       {% if resource in selected_resources %}checked{% endif %} />
                <label for="resource-{{ resource.slug }}" class="form-check-label">{{ resource.name }}</label>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="row g-2 mt-4">
        <div id="div_date" class="col-auto">
          <label for="date" class="form-label visually-hidden">{% trans "Date" %}</label>
          <input type="date"
                 name="date"
                 class="form-control textinput form-control-sm"
                 placeholder="{% trans 'Date' %}"
                 id="date"
                 value="{{ dates.shown_date|date:'Y-m-d' }}" />
        </div>
        <div class="col-auto" id="div_id_selected_nb_of_days">
          <label for="id_selected_nb_of_days" class="form-label visually-hidden">{% trans "Days to display" %}</label>
          <select name="selected_nb_of_days"
                  class="select form-select form-select-sm"
                  id="id_selected_nb_of_days">
            {% for number in nb_of_days %}
              <option value={{ number }} {% if number == selected_nb_of_days %}selected{% endif %}>{{ number }} {% trans "days" %}
              </option>
            {% endfor %}
          </select>
        </div>
        <div id="spinner"
             class="spinner-border col-auto htmx-indicator d-flex align-self-center ms-4"
             role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </form>
  </div>
  {% include "resources/partials/multi_planner_table.html" %}
{% endblock content %}
