{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "HdE | Room" %}: {{ resource.name }}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{{ resource.name }}</h1>
  <div class="card mb-3 mt-4">
    <div class="row g-0">
      <div class="col-md-2">
        {% with resource.resourceimages_of_resource.all.0.image.url as img_url %}
          {% if img_url %}
            <img src="{{ img_url }}"
                 class="img-fluid rounded-start"
                 alt="{{ resource.name }}" />
          {% else %}
            <img src="..." class="img-fluid rounded-start" alt="..." />
          {% endif %}
        {% endwith %}
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-people" />
              </svg>
              Max. {{ resource.max_persons }} {% trans "Persons" %} ({{ resource.square_meters|default_if_none:"" }}m²)
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-calendar2-check" />
              </svg>
              {{ resource.bookable_times }}
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-geo-alt" />
              </svg>
              {% if resource.location %}{{ resource.location.address }}{% endif %}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-piggy-bank" />
              </svg>
              {% for compensation in resource.compensations_of_resource.all %}
                {% if compensation.is_active %}
                  {% if compensation.hourly_rate %}
                    {{ compensation.hourly_rate }}€/h
                  {% else %}
                    {{ compensation.name }}
                  {% endif %}
                  {% if not forloop.last %}//{% endif %}
                {% endif %}
              {% endfor %}
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-easel2" />
              </svg>
              {{ resource.included_equipment }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-5">{% trans "Description" %}</h2>
  {{ resource.description|safe }}
  <h2 class="mt-5">{% trans "Compensations" %}</h2>
  <ul>
    {% for compensation in compensations %}
      <li>
        {{ compensation.name }}
        {% if compensation.hourly_rate is not None %}
          ({{ compensation.hourly_rate }} € /{% trans "hour" %})
        {% endif %}
        {% if compensation.conditions %}: {{ compensation.conditions }}{% endif %}
      </li>
    {% endfor %}
  </ul>
  <span><strong>{% trans "Restrictions" %}</strong></span>
  <ul>
    {% for restriction in restrictions %}
      <li>{{ restriction.message }}</li>
    {% empty %}
      <li>{% trans "There are no specific restrictions for this resource." %}</li>
    {% endfor %}
  </ul>
  <h2 class="mt-5">{% trans "Access" %}</h2>
  {{ resource.access.instructions }}
  <h2 class="mt-5">{% trans "Accessibility" %}</h2>
  {{ resource.accessibility|safe }}
  <h2 class="mt-5">{% trans "Bookings" %}</h2>
  <div class="mt-3 mb-4">
    <p>
      {% trans "In this view, you can see the free times for this resource. Click on a free slot to go directly to the booking page." %}
    </p>
  </div>
  <div id="results">{% include "resources/partials/weekly_bookings_table.html" %}</div>
{% endblock content %}
