{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Re-Sharing
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Easily share Resources!" />
    <meta name="author" content="Finn Hees" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/bootstrap/bootstrap.min.css' %}"
            rel="stylesheet" />
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
  ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="{% static 'js/vendors/bootstrap/bootstrap.bundle.js' %}"></script>
      <script defer src="{% static 'js/vendors/alpine/alpine_3.14.3.min.js' %}"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
      <script defer src="{% static 'js/vendors/htmx/htmx_2.0.1.min.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <div class="mb-1" id="navigation">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static "images/favicons/favicon-32x32.png" %}" alt="" width="30" height="24" class="d-inline-block align-text-top" />
            HdE Räume</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}<span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'resources:list-resources' %}">{% trans "Resources" %}</a>
                  </li>
                  <div class="vr ms-2 me-2"></div>
                  <a class="nav-link"
                     href="{% url 'dashboards:users_bookings_and_permissions' %}">{% trans "My Dashboard" %}<span class="visually-hidden">(current)</span></a>
                </li>
                <ul class="navbar-nav ms-auto">
                  {% if request.user.is_staff %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle"
                         href="#"
                         role="button"
                         data-bs-toggle="dropdown"
                         aria-expanded="false">{% trans "Management" %}</a>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a class="dropdown-item"
                             href="{% url 'bookings:manager-list-bookings' %}">{% translate "Bookings" %}</a>
                        </li>
                        <li>
                          <a class="dropdown-item"
                             href="{% url 'bookings:manager-list-invoices' %}">{% translate "Invoices" %}</a>
                        </li>
                        <li>
                          <a class="dropdown-item"
                             href="{% url 'bookings:manager-list-booking_series' %}">{% translate "Booking series" %}</a>
                        </li>
                        <li>
                          <a class="dropdown-item"
                             href="{% url 'organizations:manager-list-organizations' %}">{% translate "Organizations" %}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                {% endif %}
                <li class="nav-item">
                  <a class="btn btn-outline-primary"
                     href="{% url 'bookings:create-booking' %}"
                     role="button">
                    <svg width="1em" height="1em">
                      <use href="#bi-plus-lg" />
                    </svg>
                    {% trans "New Booking Request" %}
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <svg class="fs-4 me-1" width="1em" height="1em">
                        <use href="#bi-person-circle" />
                      </svg>
                      {% trans "Pofile" %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item"
                           href="{% url 'users:detail' request.user.slug %}">{% translate "My Profile" %}</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                      </li>
                    </ul>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">
                      <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container" id="messages">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      {% block main %}
        <div class="content container">
          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        </div>
      {% endblock main %}
      <div class="container" name="footer">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link px-2 text-muted">{% trans "Home" %}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'resources:list-resources' %}"
                 class="nav-link px-2 text-muted">{% trans "Resources" %}</a>
            </li>
            <li class="nav-item">
              <a href="{% url "dashboards:users_bookings_and_permissions" %}"
                 class="nav-link px-2 text-muted">{% trans "My Dashboard" %}</a>
            </li>
            <li class="nav-item">
              <a href="https://haus-des-engagements.de/impressum-datenschutz/"
                 class="nav-link px-2 text-muted">{% trans "Imprint and Data Privacy" %}</a>
            </li>
          </ul>
          <p class="text-center text-muted">© 2024 Haus des Engagements e.V.</p>
        </footer>
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
    <!-- SVG Icons
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Learn about this on: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use -->
    {% block icons %}
      <div class="d-none">{% include "icons.html" %}</div>
    {% endblock icons %}
  </body>
</html>
