{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <h1>{% trans "All bookings" %}</h1>
  <a href="{% url 'bookings:booking_create' %}">New Booking</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>From</td>
        <td>To</td>
        <td>Status</td>
        <td>Room</td>
        <td>Organization</td>
        <td>User</td>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings_list %}
        <tr>
          <td>{{ booking.id }}</td>
          <td>{{ booking.title }}</td>
          <td>{{ booking.timespan.lower }}</td>
          <td>{{ booking.timespan.upper }}</td>
          <td>{{ booking.get_status_display }}</td>
          <td>{{ booking.room }}</td>
          <td>{{ booking.organization }}</td>
          <td>{{ booking.user }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
