{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <h1 class="mt-4">{% trans "All bookings" %}</h1>
  <a href="{% url 'bookings:booking_create' %}">New Booking</a>
  <form hx-post="{% url 'bookings:filtered_booking_list' %}"
        hx-target="#booking-list">
    {% csrf_token %}
    {{ form.show_past_bookings }} {{ form.show_past_bookings.label }}
    <br />
    {{ form.organization.label }}{{ form.organization }}
    {{ form.status.label }}{{ form.status }}
    <input type="submit" value="Submit" />
  </form>
  <div id="booking-list">
    {% for booking in bookings %}
      {% include "bookings/partials/booking_list_item.html" %}
    {% endfor %}
  </div>
{% endblock content %}
