{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <div class="my-3">
    <nav class="breadcrumb-nav"  aria-label="breadcrumb">
      <ol class="breadcrumb rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url "dashboards:users_bookings_and_permissions" %}">{% trans "My Dashboard" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "My recurring bookings" %}</li>
      </ol>
    </nav>
  </div>
  <h1 class="mt-4">
    {% trans "My recurring bookings" %}
    <a class="btn btn-outline-primary"
       href="{% url 'bookings:create-booking' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Booking" %}
    </a>
  </h1>
  <div id="recurrences-list">
    {% for rrule in recurrences %}
      <div class="card mb-3 mt-4">
        <div class="row g-0">
          <div class="col col-md-2 card-body text-center">
            <p class="h5">
              {{ rrule.first_occurrence_date }}
              <br />
              -
              <br />
              {{ rrule.last_occurrence_date }}
            </p>
            <p class="h6">
              {{ rrule.get_first_booking.start_time|date:"H:i" }} - {{ rrule.get_first_booking.end_time|date:"H:i" }}
            </p>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'bookings:show-recurrence' rrule.slug %}">{{ rrule.get_first_booking.title }}</a>
              </h5>
              <p class="card-text">
                <svg width="1em" height="1em">
                  <use href="#bi-door-closed" />
                </svg>
                <em>{{ rrule.get_first_booking.room }}</em>
                <br />
                <svg width="1em" height="1em">
                  <use href="#bi-person-fill" />
                </svg>
                <em>{{ rrule.get_first_booking.user }}</em> {% trans "for" %}
                <em>{{ rrule.get_first_booking.organization }}</em>
                <br />
                {% trans "Occurrences" %}: {{ rrule.number_of_occurrences }}
                {% if rrule.excepted_dates %}
                  {% blocktrans count excepted_dates_length=rrule.excepted_dates|length %}
    ({{ excepted_dates_length }} excepted date)
{% plural %}
    ({{ excepted_dates_length }} excepted dates)
{% endblocktrans %}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <div class="d-grid gap-2">
                <a class="btn btn-outline-primary"
                   href="{% url 'bookings:show-recurrence' rrule.slug %}">{% trans "View Details" %}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <svg width="1em" height="1em">
            <use href="#bi-arrow-repeat" />
          </svg>
          {{ rrule.get_human_readable_rule }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
