{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="my-3">
    <nav class="breadcrumb-nav"  aria-label="breadcrumb">
      <ol class="breadcrumb bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url "dashboards:users_bookings_and_permissions" %}">{% trans "My Dashboard" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "My bookings" %}</li>
      </ol>
    </nav>
  </div>
  <h1 class="mt-4">
    {% trans "My bookings" %}
    <a class="btn btn-outline-primary"
       href="{% url 'bookings:create-booking' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Booking" %}
    </a>
  </h1>
  <form class="row gx-3 gy-2 align-items-center mt-3"
        action="{% url 'bookings:list-bookings' %}"
        method="get"
        hx-get="{% url 'bookings:list-bookings' %}"
        hx-target="#booking-list"
        hx-trigger="change"
        hx-indicator="#spinner">
    <div id="div_id_organization" class="col-auto">
      <select name="organization" class="form-select" id="id_organization">
        <option selected value="all">{% trans "all organizations" %}</option>
        {% for organization in organizations %}
          <option value="{{ organization.slug }}">{{ organization }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto" id="div_id_status">
      <select name="status" class="select form-select" id="id_status">
        <option selected value="all">{% trans "all statuses" %}</option>
        {% for status in statuses %}<option value="{{ status.0 }}">{{ status.1 }}</option>{% endfor %}
      </select>
    </div>
    <div class="col-auto form-check">
      <input type="checkbox"
             name="show_past_bookings"
             class="form-check-input"
             id="id_show_past_bookings" />
      <label for="id_show_past_bookings" class="form-check-label">{% trans "show past bookings" %}</label>
    </div>
    <div class="col-auto form-check">
      <input type="checkbox"
             name="hide_recurring_bookings"
             class="form-check-input"
             id="id_hide_recurring_bookings" />
      <label for="id_hide_recurring_bookings" class="form-check-label">
        {% trans "hide" %} <a href="{% url 'bookings:list-recurrences' %}">{% trans "recurring bookings" %}</a>
      </label>
    </div>
    <div id="spinner"
         class="spinner-border col-auto htmx-indicator"
         role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
  <div id="booking-list">{% include "bookings/partials/list_bookings.html" %}</div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if bookings.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">{% trans "First" %}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ bookings.previous_page_number }}">{% trans "Previous" %}</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">{% trans "Page" %} {{ bookings.number }} {% trans "of" %} {{ bookings.paginator.num_pages }}</a>
      </li>
      {% if bookings.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ bookings.next_page_number }}">{% trans "Next" %}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ bookings.paginator.num_pages }}">{% trans "Last" %}</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock content %}
