{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <h1 class="mt-4">
    {% trans "All bookings" %}
    <a class="btn btn-outline-primary"
       href="{% url 'bookings:create-booking' %}"
       role="button">
      <svg width="1em" height="1em">
        <use href="#bi-plus-lg" />
      </svg>
      {% trans "New Booking" %}
    </a>
  </h1>
  <form hx-post="{% url 'bookings:filter-bookings' %}"
        hx-target="#booking-list"
        hx-trigger="change">
    {% csrf_token %}
    {{ form }}
  </form>
  <div id="booking-list">{% include "bookings/partials/list_bookings.html" %}</div>
{% endblock content %}
