{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
  <div class="my-3">
    <nav class="breadcrumb-nav"  aria-label="breadcrumb">
      <ol class="breadcrumb bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a href="{% url "dashboards:users_bookings_and_permissions" %}">{% trans "My Dashboard" %}</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url "bookings:list-bookings" %}">{% trans "My bookings" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ booking.title }}</li>
      </ol>
    </nav>
  </div>
  <h1 class="mt-4">
    {% trans "Booking" %}: <em>{{ booking.title }}</em>
  </h1>
  <div id="booking-detail-item">{% include "bookings/partials/booking_item.html" %}</div>
  <h2 class="font-weight-light py-3">{% trans "Access" %}</h2>
  <div class="card mb-3 mt-2" id="access">
    <div class="row g-0">
      <div class="col col-md-2 card-body text-center">
        <p class="h6">{% trans "Access Code" %}:</p>
        <p class="h6">{{ access_code }}</p>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{% trans "Instructions" %}</h5>
          <p class="card-text">
            {% if booking.room.access.instructions %}
              {% if not access_code %}
                <p class="card-text">{% trans "The access code and instructions are only visible for confirmed bookings." %}</p>
              {% endif %}
              {{ booking.room.access.instructions }}
            {% else %}
              The room has no specific access information.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <h2 class="font-weight-light py-3">{% trans "Timeline" %}</h2>
    <!-- timeline snippet from: https://www.codeply.com/p/GSinLfFXIJ -->
    <!-- timeline booking message form -->
    <div class="row" id="message-form">
      <!-- timeline item 1 left dot -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col order border-end">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- timeline item 1 content -->
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{% trans "Write a new message" %}</h5>
            <form hx-post="{% url 'bookings:create-bookingmessage' booking.slug %}"
                  hx-target="#message-form"
                  hx-swap="afterend">
              {% csrf_token %}
              <div class="mb-3">
                <textarea class="form-control" name="text" rows="3" required="true"></textarea>
              </div>
              <button type="submit" class="btn btn-outline-primary mb-3" value="Submit">{% trans "Send new message" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <!-- timeline item loop -->
    {% for activity in activity_stream %}
      <div class="row">
        <div class="col-auto text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
            <span class="badge rounded-pill bg-light border">&nbsp;</span>
          </h5>
          <div class="row h-50">
            <div class="col border-end">&nbsp;</div>
            <div class="col">&nbsp;</div>
          </div>
        </div>
        <div class="col py-2">
          <div class="card">
            <div class="card-body">
              <div class="text-muted">{{ activity.date|date:"l, d.m.Y - H:i" }}</div>
              {% if activity.type == "message" %}
                <h5 class="card-title">{% trans "Message" %}</h5>
                <p>from {{ activity.user.first_name }} {{ activity.user.last_name }} ({{ activity.user.email }}):</p>
                <p class="fst-italic">{{ activity.text }}</p>
              {% elif activity.type == "status_change" %}
                <h5 class="card-title">{% trans "Status Change" %}</h5>
                <p>from {{ activity.user.first_name }} {{ activity.user.last_name }} ({{ activity.user.email }}):</p>
                <span class="fs-6 badge text-bg-status-{{ activity.old_status.0 }}">{{ activity.old_status.1 }}</span>
                <svg class="fs-4 me-1" width="1em" height="1em">
                  <use href="#bi-arrow-right" />
                </svg>
                <span class="fs-6 badge text-bg-status-{{ activity.new_status.0 }}">{{ activity.new_status.1 }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- timeline item 1 -->
    <div class="row">
      <!-- timeline item 1 left dot -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-end order">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge rounded-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- timeline item 1 content -->
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <div class="text-muted">{{ booking.created|date:"l, d.m.Y - H:m" }}</div>
            <h5 class="card-title">{% trans "Booking created" %}</h5>
            <p class="card-text">
              {% trans "by" %} {{ booking.user.first_name }} {{ booking.user.last_name }} ({{ booking.user.email }})
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--/row-->
    <!--/row-->
  </div>
  <!--container-->
{% endblock content %}
