{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Rooms" %}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{% trans "Rooms" %}</h1>
  <div class="row">
    <form hx-get="{% url 'rooms:list-rooms' %}"
          hx-target="#room-list"
          hx-trigger="change"
          hx-indicator="#spinner">
      <input type="number" name="max_persons" placeholder="Persons" />
      <input type="text" name="name" placeholder="Room Name" />
      <div id="spinner"
           class="spinner-border col-auto htmx-indicator"
           role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </form>
  </div>
  <div id="room-list">{% include "rooms/partials/list_filter_rooms.html" %}</div>
{% endblock content %}
