{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Rooms" %}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{% trans "Rooms" %}</h1>
  <div class="row">
    <form hx-post="{% url 'rooms:filter-rooms' %}" hx-target="#room-list">
      {% csrf_token %}
      <input type="text" name="max_persons" placeholder="Persons" />
      <input type="text" name="name" placeholder="Room Name" />
      {{ form.start_datetime }}
      <input type="number" name="duration" placeholder="Duration" />
      <input type="submit" value="Submit" />
    </form>
  </div>
  <div id="room-list">{% include "rooms/partials/room_list_results.html" %}</div>
{% endblock content %}
