{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Rooms" %}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{% trans "Rooms" %}</h1>
  <div class="row">
    <form>
      <label for="id_max_persons">Persons:</label>
      <input type="number"
             id="id_max_persons"
             name="max_persons"
             hx-get="{% url 'rooms:get-room-list' %}"
             hx-target="#room-list"
             hx-trigger="keyup changed" />
    </form>
  </div>
  <div id="room-list">{% include "rooms/partials/room_list_results.html" %}</div>
{% endblock content %}
