{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Room" %}: {{ room.name }}
{% endblock title %}
{% block content %}
  <h1 class="mt-4">{{ room.name }}</h1>
  <div class="card mb-3 mt-4">
    <div class="row g-0">
      <div class="col-md-2">
        {% with room.roomimages_of_room.all.0.image.url as img_url %}
          {% if img_url %}
            <img src="{{ img_url }}"
                 class="img-fluid rounded-start"
                 alt="{{ room.name }}" />
          {% else %}
            <img src="..." class="img-fluid rounded-start" alt="..." />
          {% endif %}
        {% endwith %}
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-people" />
              </svg>
              Max. {{ room.max_persons }} {% trans "Persons" %} ({{ room.square_meters|default_if_none:"" }}m²)
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-calendar2-check" />
              </svg>
              {{ room.bookable_times }}
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-geo-alt" />
              </svg>
              {{ room.address }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-piggy-bank" />
              </svg>
              {% trans "Pricing" %}: {{ room.pricing }}
            </li>
            <li class="list-group-item">
              <svg class="fs-4 me-1" width="1em" height="1em">
                <use href="#bi-easel2" />
              </svg>
              {{ room.included_equipment }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-5">{% trans "Description" %}</h2>
  {{ room.description|safe }}
  <h2 class="mt-5">{% trans "Compensations" %}</h2>
  <ul>
    {% for compensation in compensations %}
      <li>
        {{ compensation.name }}
        {% if compensation.hourly_rate is not None %}
          ({{ compensation.hourly_rate }} € /{% trans "hour" %})
        {% endif %}
        {% if compensation.conditions %}: {{ compensation.conditions }}{% endif %}
      </li>
    {% endfor %}
  </ul>
  <h2 class="mt-5">{% trans "Access" %}</h2>
  {{ room.access.instructions }}
  <h2 class="mt-5">{% trans "Accessibility" %}</h2>
  {{ room.accessibility|safe }}
  <h2 class="mt-5">Bookings</h2>
  <div class="mt-3 mb-4">
    <p>
      {% trans "In this view, you can see the free times for this room. Click on a free slot to go directly to the booking page." %}
    </p>
  </div>
  <div id="results">{% include "rooms/partials/weekly_bookings_table.html" %}</div>
{% endblock content %}
